@model IEnumerable<NMDCATEtestPreparatory.student>
@{

}
<div class="page-header">
    <div class="row">
        <div class="col-lg-7 col-md-12 col-sm-12 col-12">
            <h5 class="text-uppercase">All  Students List</h5>
        </div>

    </div>
</div>
<div class="row filter-row">
    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
            <div class="form-group custom-mt-form-group">
            <input type="text" name="searchbyID" id="searchID" onchange="funsuggestion()" />
            <label class="control-label">Search By ID</label><i class="bar"></i>
        </div>     <div class=" row">

                <input type="hidden" name="studentId" id="studentId" />

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped custom-table m-b-0" @*id="tbl"*@>
                <thead>
                    <tr>
                        <th class="text-center">Student ID</th>
                        <th class="text-center"> Name</th>
                        <th class="text-center"> Father Name </th>
                        <th class="text-center"> Gender</th>
                        <th class="text-center">DOB</th>
                        <th class="text-center"> Email</th>
                        <th class="text-center"> Contact</th>
                        <th class="text-center" >Student Picture</th>


                    </tr>
                </thead>
                <tbody id="datalist">
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            <strong>@item.studentId</strong>
                        </td>
                        <td>@item.studentName</td>
                        <td>@item.studentFName</td>
                        <td>@item.gender</td>
                        <td>@item.DOB</td>
                        <td>@item.email</td>
                        <td>@item.contact </td>
                        <td><img src="~/MyImages/@item.studentPicture" style="width:30%" /></td>
                        @*<td>
            <a href="~/student/studentEdit1?id=@item.studentId">Edit</a>

        </td>*@

                    </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
     function funsuggestion() {

        var searchby = $("#searchID").val();
        alert(searchby);
        $.ajax({
                        type: "Get",
                        url: '@Url.Action("searchByID", "student")',
                        contentType: "application/json; charset=utf-8",
            data: { searchby: searchby},
                        datatype: "json",
                        success: function (data) {
                            console.log(data);
                            var dd = '';
                            if (data.data != "") {
                                dd+='<tr>'
                                dd += '<td>' + data.data.studentId+'</td>'
                                dd += '<td>' + data.data.studentName + '</td>'
                                dd += '<td>' + data.data.studentFName + '</td>'
                                dd += '<td>' + data.data.gender +'</td>'
                                dd += '<td>' + data.data.DOB+'</td>'
                                dd += '<td>' + data.data.email+'</td>'
                                dd += '<td>' + data.data.contact + '</td>'
                                dd += '<td><img src="/MyImages/' + data.data.studentPicture + '" alt="Student Image"></td>'
                                dd+='<td></td></tr>'




                                //$("#DOB").val(getDateFormatted(data.data.DOB));
                                //$("#Email").val(data.data.Email);
                                //$("#Contact").val(data.data.Contact);



                            }
                            $("#datalist").html(dd);

                        },
                        error: function () {
                            alert("Error Orrured In server");
                        }
                    });
    }
    function getDateFormatted(date) {
        debugger;
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(date);
        var dt = new Date(parseFloat(results[1]));
        debugger;

        var gdate = dt.getDate();


        var month = (dt.getMonth() + 1);

        return (month) + "/" + gdate + "/" + dt.getFullYear();
    }

</script>